.main-committeepage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.professors{
    margin: 10px;
    max-width: 85vw;
    min-width: 60vw;
}
.h2{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    color: #EDEEF7;
    margin-top: 5px;
}
.professorsGrid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
}
.tcp-table{
    /* it is a div that contains the table */
    display: flex;
    justify-content: center;

}
.tcp-table > table > tbody > tr > td{
    /* it is a cell of the table */
    color: #EDEEF7;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}

@media only screen and (max-width: 450px) {
    .h2{
        font-size: 1.5rem;
    }

}
