.main-committeepage{
    display: flex;
    justify-content: center;
}
.h2{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    color: #EDEEF7;
    margin: 10px;
}
