.main-speakerpage{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
}
.heading{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    color: #EDEEF7;
}
.para{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #EDEEF7;
}
.speakerContainer{
    /* color: "#EDEEF7", */
            /* display: "flex", */
            /* alignItems: "center", */
            /* justifyContent: "space-around", */
            color: #EDEEF7;
            display: flex;
            align-items: center;
            justify-content: space-around;
}
@media screen and (max-width: 360px){
    .speaker-container
    {
        display: flex;
        flex-direction: column;
    }
    
}
