.about-college{
    /*paragraph+h1 - DIV*/
    margin: 20px;
    margin-top: 30px;
    text-align:left;
    color: #EDEEF7;
    font-weight: 500;
    background-color: #1e0149;
    padding: 20px;
    border-radius: 8px;
    width: 80vw;
}
.about-college > button{
    border-radius: 8px;
    background-color: #EDEEF7;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.about-college > button > a {
    text-decoration: none;
    font-weight: 500;
}

@media only screen and (max-width: 450px) {
    .about-college > p{
        font-size: 0.95rem;
  
    }
    .about-college{
        display: block;
        margin: 20px;
    }

}
