/* .topic-main-div{
    display: flex;
    justify-content: center;
} */
.content-div{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content:center ;
    align-content: center;
    align-self: center;
    color: #E4FBFF;
}
.table{
    width:55vw;
    text-align: center;
}

.para-about{
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.15rem;
    color:#E4FBFF ;
    text-align: center;
}