.sponsors-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sponsors-div > img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: 25px;
    margin-right: 25px;
    border: solid 1px #EDEEF7;
}